.calendarTable {
    padding: 10px;
    border-radius: 20px;
    margin: auto;
    min-width: 330px;

    
}

.calendarThead {
    display: flex;
    flex-direction: row;
    color: #fff;
    height: 30px;
}

.dayTd {
    cursor: pointer;
    width: 36px;
    overflow: hidden;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid transparent;
    transition: border 0.3s ease-in-out;
}

.dayTd:hover {
    border: 2px solid #ff6423;
}