.calendarTable {
    padding: 10px;
    border-radius: 20px;
    margin: auto;
    min-width: 330px;
}

.calendarThead {
    display: flex;
    flex-direction: row;
    color: #fff;
    height: 30px;
}

.dayTd {
    cursor: pointer;
    width: 36px;
    overflow: hidden;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid transparent;
    transition: border 0.3s ease-in-out;
}

.dayTd:hover {
    border: 2px solid #ff6423;
}


@media (max-width: 1350px) {
    .calendarTable {
        min-width: 270px;
    }
    .dayTd {
        width: 28px;
        height: 28px;
    }
}

@media (max-width: 1060px) {
    .calendarTable {
        min-width: 200px;
    }
    .dayTd {
        width: 20px;
        height: 20px;
    }
}


@media (max-width: 768px) {
    .calendarTable {
        min-width: 330px;
    }
    .dayTd {
        width: 36px;
        height: 36px;
    }
}