.mainWrapper {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerText {
    color: #fff;
    text-align: center;
}
.tableWrapper {
    width: 100%;
    overflow: hidden;
}

