.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    animation: show 0.5s;
}
@keyframes show {
    from {opacity:0;}
    to {opacity:1;}
}
.modalContent {
    background-color: #191c1f;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
}

.modalHeader {
    padding: 5px;
    text-align: center;
    font-size: 20px;
}
.modalFooter {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.modalTitle {
    margin: 0;
}

.modalBody {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-top: 1px solid #494949;
    border-bottom: 1px solid #494949;
}



.icoAnim {
    margin: 0 auto;
}


.modalButton {
    width: 250px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    color: #fff;
    margin: 10px 5px;
    background: linear-gradient(90deg, rgba(255,100,35,1) 0%, rgba(124,0,255,1) 85%);
    box-shadow: none;
    transition: all 0.3s ease-in-out;
}
  
.modalButton:hover {
    box-shadow: 0 0 5px 0.2rem rgba(255, 123, 0, 0.3);
}

.exitButton {
    width: 250px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    color: #fff;
    margin: 10px 5px;
    background: linear-gradient(90deg, rgb(66, 66, 66) 0%, rgb(71, 38, 105) 85%);
    box-shadow: none;
    transition: all 0.3s ease-in-out;
}
  
.exitButton:hover {
    box-shadow: 0 0 5px 0.2rem rgb(71, 38, 105);
}

@media (max-width: 768px) {
    .modalContent {
        width: 80%;
    }
}