.mainWrapper {
    display: flex;
    width: 80%;
    max-width: 1000px;
    margin: 30vh auto 0 auto;
    border: 2px solid #ff6423;
    background-color: #4a546136;
    border-radius: 20px;
    flex-direction: column;
    color: #fff;
}
.quizCard {
    width: 90%;
    margin: auto;
}

.quizNavigationWrapeer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.quizNavButton {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    margin: 10px 40px 0 40px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    color: #748294;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.quizNavButton:hover {
    border: 2px solid #748294;
    border-radius: 10px;
}

.quizTitle {
    margin: 10px 0;
}
.quizDescription {

}
.devider {
    width: 90%;
    margin: 0 auto;
    height: 2px;
    background-color: #ff6423;
}
.answerBar {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.answerWrapper {
    /* width: 20%; */
    min-width: 170px;
    cursor: pointer;
    height: 20px;
    font-weight: bold;
    border: none;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    font-size: 15px;
    margin: 20px 10px auto 10px;
    background-color: #ff6423;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.answerWrapper:hover {
    background-color: #ff6423;
    -webkit-box-shadow: 0px 0px 7px 3px rgba(255, 100, 35, 0.5);
    -moz-box-shadow: 0px 0px 7px 3px rgba(255, 100, 35, 0.5);
    box-shadow: 0px 0px 7px 3px rgba(255, 100, 35, 0.5);
}
.answerWrapperActive {
    background-color: #894fb0;
    transition: all 0.3s ease-in-out;
}
.answerWrapperActive:hover {
    background-color: #894fb0;
    -webkit-box-shadow: 0px 0px 7px 3px rgba(255, 100, 35, 0.5);
    -moz-box-shadow: 0px 0px 7px 3px rgba(255, 100, 35, 0.5);
    box-shadow: 0px 0px 7px 3px #894fb0;
}
.correctAnswer {
    background-color: green;
}
.correctAnswer:hover {
    background-color: green;
    box-shadow: none;
}
.qestionWrapper {
    display: flex;
    flex-direction: column;
}
.AnswerBtn {
    min-width: 40%;
    cursor: pointer;
    height: 40px;
    font-weight: bold;
    border: none;
    font-size: 15px;
    margin: 40px auto 20px auto;
    color: #fff;
    background: linear-gradient(90deg, rgba(255,100,35,1) 0%, rgba(124,0,255,1) 85%);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.AnswerBtn:hover {
    -webkit-box-shadow: 0px 0px 7px 3px rgba(255, 100, 35, 0.5);
    -moz-box-shadow: 0px 0px 7px 3px rgba(255, 100, 35, 0.5);
    box-shadow: 0px 0px 7px 3px rgba(255, 100, 35, 0.5);
}

.AnswerBtnInactive {
    cursor: not-allowed;
    background: rgb(88, 88, 88);
    transition: none;
}
.AnswerBtnInactive:hover {
    box-shadow: none;
}

.draggableQuestionWrapper {
    display: flex;
    color: #fff;
    flex-direction: column;
    
}

.qestionText {
    justify-content: center;
    display: flex;
    color: #fff;
    flex-direction: column;
}
.draggableQuestionTextWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 20px auto;
    padding: 0 10px;
}
.qestionElemText {
    /* margin: 0; */
    margin: auto 0;
    vertical-align: middle;
}
.answers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px auto;
}

@media (max-width: 768px) {
    .mainWrapper {
        margin: 20% auto 0 auto;
        width: 90%;
        /* margin-top: 20%; */

    }
    .quizNavButton {
        margin: 10px auto 0 auto;
        font-size: 14px;
    }
}