.sliderContainer {
  overflow: hidden;
  width: 100%;
  height: 450px;
  position: relative;
  padding: 40px 0;
}
  
.slider {
  display: flex;
  flex-direction: row;
}
.sliderInner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 240%;
  animation: scroll 40s linear infinite;
  transition: all 1s ease-in-out; /* Анимация для авто-прокрутки */
} 

.sliderInner:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Здесь 300px — ширина одного слайда */
  }
}

@media (max-width: 768px) {
  .sliderContainer {
    padding-top: 20px;
    width: 100%;
    height: 430px;
  }
  .sliderInner {
    width: 800%;
  }

}