.mainWrapper {
    display: flex;
    color: azure;
    flex-direction: column;
    max-width: 80vw;
    justify-content: space-around;
    align-self: center;
    margin: 5vh auto 0 auto;
}

.row {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(255, 100, 35, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(255, 100, 35, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(255, 100, 35, 0.2);
    width: 30%;
    border: 1px solid #ff6423;
    border-radius: 10px;
    /* align-items: center; */
    background-color: #292e33;
}
.cardHeader {
    text-align: center;
}
.infoCard {
    margin: auto;
    width: 90%;
    height: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.editBtn {
    width: 70%;
    padding: 5px;
    
    margin: 0 auto 10px auto;
    border: 1px solid #ff6423;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    /* margin: auto auto; */
    transition: all 0.3s ease-in-out;
}
.editBtn:hover {
    -webkit-box-shadow: 0px 0px 11px 5px rgba(255, 100, 35, 0.2);
    -moz-box-shadow: 0px 0px 11px 5px rgba(255, 100, 35, 0.2);
    box-shadow: 0px 0px 11px 5px rgba(255, 100, 35, 0.2);
    /* width: 70%;
    padding: 5px;
    
    margin: 0 auto 10px auto;
    border: 1px solid #ff6423; */
    background-color: #ff6523d3;

}
.infoColumn {

}
.infoRow {

}

.infoParagraph {

}

.logoCard {
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    padding: 15px;
    overflow: hidden;
    box-shadow: inset 0 0 12px 12px #191c1f, inset 0 0 3px 2px #191c1f;
    background: linear-gradient(90deg, rgba(255,100,35,1) 0%, rgba(124,0,255,1) 75%)
}

.logoImg {
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
}

.randCircle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    aspect-ratio: 1;
    border-radius: 50%;
    background: conic-gradient(rgba(255,100,35,1) 0%, rgba(124,0,255,1) var(--pie-p, 0%), transparent 0);
    --pie-b: 1.5em;
    --pie-p: 70%;
    mask: radial-gradient(farthest-side,#0000 calc(99% - var(--pie-b)),#000 calc(100% - var(--pie-b)));
}

.scoreStr {
    font-size: 2rem;
    position: absolute;
    color: #fff;
    text-align: center;
    top: 50%;
    bottom: auto;
    width: 100%;
    align-self: center;
    margin: 0;
}
.lastQestions {
    display: flex;
    flex-direction: column;
    /* border: 2px solid orange; */
    border-radius: 10px;
}
.qestionCard {
    border: 2px solid orange;
    margin: 8px;
    padding: 5px;
    border-radius: 7px;
}
@media (max-width: 768px) {
    .mainWrapper {
        flex-direction: column;
    }
    .row {
        flex-direction: column;
    }
    .card  {
        width: 100%;
        margin: 10px auto;
    }
    .logoImg {
        width: 70vw;
        height: 70vw;  
    }
    .logoCard {
        margin: 20px auto;
        width: 70vw;
        height: 70vw;
    }
    .randCircle { 
        margin: 20px auto;
    }
}