.circleWrapper {
    position: relative;
    z-index: 1;
    
}

.randCircle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid rgba(255,100,35,1);
    background: conic-gradient(rgba(255,100,35,1) 0%, rgba(124,0,255,1) var(--pie-p, 0%), transparent 0);
    --pie-b: 1.5em;
    /* --pie-p: 70%; */
    mask: radial-gradient(farthest-side,#0000 calc(99% - var(--pie-b)),#000 calc(100% - var(--pie-b)));
}

.randCircleInset {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(80% - 48px);
    margin: 0 auto;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid rgba(255,100,35,1);
    background: transparent;
    z-index: 5;
}

.scoreStr {
    margin: 0;
    position: absolute;   
    top: 50%;                    
    transform: translate(0, -50%);
    text-align: center;
    width: 100%;
    font-size: 2rem;
    color: #fff;
}