.featureBlock {
    width: 20%;
    margin-right: 20px;
    padding: 20px;
    background-color: #39414b;
    border: 2px solid orangered;
    border-radius: 40px;
    color: #fff;
    transform: scale(0.95);
}

.featureBlock {
    transition: all 0.3s ease-in-out;
}

.featureBlock:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 8px 5px rgba(255, 100, 35, 0.5);
    -moz-box-shadow: 0px 0px 8px 5px rgba(255, 100, 35, 0.5);
    box-shadow: 0px 0px 8px 5px rgba(255, 100, 35, 0.5);
}