@keyframes scaleAnimation {
    0% {
      opacity: 0;
      transform: scale(1.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
}

@keyframes drawCircle {
    0% {
      stroke-dashoffset: 151px;
    }
    100% {
      stroke-dashoffset: 0;
    }
}

@keyframes drawCheck {
    0% {
      stroke-dashoffset: 50px;
    }
    100% {
      stroke-dashoffset: 0px;
    }
}

@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

#errorAnimationCircle {
    stroke-dasharray: 151px 151px;
    stroke: #b60f0f;
}

#errorAnimationCheck {
    stroke-dasharray: 50px 50px;
    stroke: #b60f0f;
}

#errorAnimationResult {
    fill: #b60f0f;
    opacity: 0;
}

#errorAnimation.animated {
    animation: 1s ease-out 0s 1 both scaleAnimation;
}

#errorAnimation.animated #errorAnimationCircle {
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle,
               0.3s linear 0.9s 1 both fadeOut;
}

#errorAnimation.animated #errorAnimationCheck {
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck,
               0.3s linear 0.9s 1 both fadeOut;
}

#errorAnimation.animated #errorAnimationResult {
    animation: 0.3s linear 0.9s both fadeIn;
}